<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Gentelella Alela!</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Dashboard</a></li>
            <li><a href="/home/index2">Dashboard2</a></li>
            <li><a href="/home/index3">Dashboard3</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/forms/form">General Form</a></li>
            <li><a href="/forms/form_advanced">Advanced Components</a></li>
            <li><a href="/forms/form_validation">Form Validation</a></li>
            <li><a href="/forms/form_wizards">Form Wizard</a></li>
            <li><a href="/forms/form_upload">Form Upload</a></li>
            <li><a href="/forms/form_buttons">Form Buttons</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/ui/general_elements">General Elements</a></li>
            <li><a href="/ui/media_gallery">Media Gallery</a></li>
            <li><a href="/ui/typography">Typography</a></li>
            <li><a href="/ui/icons">Icons</a></li>
            <li><a href="/ui/glyphicons">Glyphicons</a></li>
            <li><a href="/ui/widgets">Widgets</a></li>
            <li><a href="/ui/invoice">Invoice</a></li>
            <li><a href="/ui/inbox">Inbox</a></li>
            <li><a href="/ui/calendar">Calendar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/tables/tables">Tables</a></li>
            <li><a href="/tables/tables_dynamic">Table Dynamic</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/data/chartjs">Chart JS</a></li>
            <li><a href="/data/chartjs2">Chart JS2</a></li>
            <li><a href="/data/morisjs">Moris JS</a></li>
            <li><a href="/data/echarts">ECharts</a></li>
            <li><a href="/data/other_charts">Other Charts</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/fixed_sidebar">Fixed Sidebar</a></li>
            <li><a href="/fixed_footer">Fixed Footer</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/additional/ecommerce">E-commerce</a></li>
            <li><a href="/additional/projects">Projects</a></li>
            <li><a href="/additional/project_detail">Project Detail</a></li>
            <li><a href="/additional/contacts">Contacts</a></li>
            <li><a href="/additional/profile">Profile</a></li>
            <li><a href="/additional/pricing">Pricing Tables</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/page_403">403 Error</a></li>
            <li><a href="/page_404">404 Error</a></li>
            <li><a href="/page_500">500 Error</a></li>
            <li><a href="/plain_page">Plain Page</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Level One</a>
              <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="/level2">Level Two</a>
                  </li>
                  <li><a href="#level2_1">Level Two</a>
                  </li>
                  <li><a href="#level2_2">Level Two</a>
                  </li>
                </ul>
              </li>
              <li><a href="#level1_2">Level One</a>
              </li>
          </ul>
        </li>
        <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
